# Configuración de Base de Datos Supabase (PostgreSQL 16 Cloud)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.lddiruoirruixbxvlrxy.supabase.co:5432/postgres
PORT=3001
NODE_ENV=production
CORS_ORIGIN=*
